# =========================
# 1. BIẾN MÔI TRƯỜNG & BẢO MẬT
# =========================
.env
.env.*
!.env.example

# =========================
# 2. PYTHON / FASTAPI (BACKEND)
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/
*.sqlite3

# =========================
# 3. NODE / FRONTEND
# =========================
node_modules/
build/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# =========================
# 4. HỆ ĐIỀU HÀNH & IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log
nul